[submodule "src/subword-nmt"]
	path = src/dataset/subword-nmt
	url = https://github.com/billyang98/subword-nmt.git
[submodule "src/dataset/subword-nmt"]
	path = src/dataset/subword_nmt
	url = https://github.com/billyang98/subword-nmt.git
[submodule "src/rhymeanalyzer"]
	path = src/rhymeanalyzer
	url = https://github.com/billyang98/rhymeanalyzer.git
[submodule "src/artist-lyric-gen-bart"]
	path = src/artist-lyric-gen-bart
	url = https://github.com/billyang98/artist-lyric-gen-bart.git
